* {
  padding: 0;
  margin: 0;
}

.main {
  height: 100vh;
  background: linear-gradient(to bottom, var(--bg1), var(--bg2));
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-style: 2em;
}

button {
  display: block;
  width: 45px;
  height: 22px;
  border-radius: 11px;
  border: 1px solid #86909c;
  background-color: var(--bg1);
  transition: border-color .25s;
  position: relative;
  cursor: pointer;
}

button span.check {
  position: absolute;
  top: 1px;
  left: 1px;
}

button span.check i {
  opacity: 1;
  transition: all .25s ease-in-out;
  text-align: center;
  line-height: 18px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  /* background-color:var(--bg2); */
  /* box-shadow: var(--bg1); */
}

button span.check i:nth-child(2) {
  position: absolute;
  left: 22px;
}

button span.check i.hidden {
  /* display: none; */
  visibility: hidden;
}


button:hover {
  border: 1px solid #fff
}

.main h1 {
  font-size: 60px;
}
